#_navbar {
    display: none !important;
}


.event-column {
    width: 50%; 
}

.date-column {
    width: 50%; 
}

.badge {
    background-color: #b00;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0;
    margin-left:-1rem;
}

.table th, .table td {
    padding: 8px;
    text-align: left;
    border: none; /* Remove all borders */
}

.table thead th {
    border-top: 2px solid rgb(125, 125, 125); 
    border-bottom: 1px solid rgb(125, 125, 125); 
    text-align:center;
}

.table tbody tr:last-child td {
    border-bottom: 2px solid rgb(125, 125, 125); /* Bottom border for last row */
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Shading for odd rows */
}


.info-list {
    margin-top: 2rem;
  }
  
  .info-item {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }
  
  .info-item:last-child {
    border-bottom: none;
  }
  
  .info-item h2 {
    margin-bottom: 0.5rem;
  }
  
  .featured-img-container {
    margin-bottom: 1rem;
    width: 100%;
    height: 200px; /* Adjust this value as needed */
    overflow: hidden;
    position: relative;
  }
  
  .featured-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 200%; /* Double the height of the container */
    object-fit: cover;
    object-position: center; /* This centers the image horizontally */
  }
  
  .featured-img-30 {
    top: -30% !important;
  }
  
  .featured-img-50 {
    top: -50% !important;
  }
  
  .featured-img-70 {
    top: -70% !important;
  }
  
  .info-list {
    margin-top: 2rem;
  }
  
  .info-item {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }
  
  .info-item:last-child {
    border-bottom: none;
  }
  
  .info-item h2 {
    margin-bottom: 0.5rem;
  }
  
  .description {
    margin-bottom: 0.5rem;
  }
  
  .last-updated {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5rem;
  }