<button class="user-input-toggle">👤</button>
<div class="user-input-container">
    <input type="text" id="user-name-input" placeholder="Nama Calon Pendaftar">
    <button id="apply-user-name">Apply</button>
</div>
<div class="chart-wrapper">
    <ul class="chart-values">
        <!-- Months will be dynamically inserted here -->
    </ul>
    <ul class="chart-bars">
        <!-- Tasks will be dynamically inserted here -->
    </ul>
    <div class="deadline">
        <img src="/assets/icons/stanford.ico" alt="Stanford Icon">
        <span class="deadline-text">Submission Deadline</span>
        <span class="deadline-text">(Stanford MCIM, R1)</span>
        <span id="deadline-date" class="deadline-text"></span>
    </div>
    <div class="deadline-line"></div>
</div>

<div class="task-controls">
    <div class="task-controls-header">
        <span class="task-controls-title">Ceklis Dokumen (__USER__)</span>
        <button class="collapse-button">▲</button>
    </div>
    <select class="program-select">
        <!-- Program options will be dynamically inserted here -->
    </select>
    <div class="task-controls-content">
        <!-- Task controls will be dynamically inserted here -->
    </div>
</div>

<div class="page-madeby">
    <small>Made with <span>❤</span> by MyKampus Planner</small>
</div>